body {
    background-color:#fefefe;
}

.container {
    padding-left:10px;
}

.underlineheading {
    text-align: center;
    border-bottom:5px solid #e17009;
    width:auto;
}

.white {
    color: #9a9da0;
}

.fontsize30
{
    font-size:30px;
}