<!DOCTYPE html>
<html>
<head>
    <title>Music Search</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta http-equiv="content-type" content="text/html;charset=utf-8" />
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css">
    <link rel="stylesheet" href="../js/jquery-ui-1.12.1.custom/jquery-ui.css">
    <link rel="stylesheet" href="../leaflet/leaflet.css">
    <script src="../leaflet/leaflet.js"></script>
    <script src="../js/jquery-3.3.1.min.js"></script>
    <script src="../js/jquery-ui-1.12.1.custom/jquery-ui.min.js"></script>
    <script src="../js/bootstrap.min.js"></script>
</head>
<body>
    
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#showNavBar" aria-controls="showNavBar" aria-expanded="true" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
    
    <p class="underlineheading white fontsize30">Music Search</p>
    
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#showAccBar" aria-controls="showAccBar" aria-expanded="false" aria-label="Toggle navigation">
    <span><i class="fa fa-user-circle"></i></span>
  </button>

  <div class="collapse navbar-collapse" id="showNavBar">
    <ul class="navbar-nav mr-auto center">
    <div class="dropdown-divider"></div>
      <li class="nav-item active">
        <a class="nav-link" href="#">Homepage</a>
      </li>
    <div class="dropdown-divider"></div>
      <li class="nav-item">
        <a class="nav-link" href="#">Search Stores</a>
      </li>
    <div class="dropdown-divider"></div>
      <li class="nav-item">
        <a class="nav-link" href="#">Map</a>
      </li>
    <div class="dropdown-divider"></div>
    </ul>
  </div>
    
  <div class="collapse navbar-collapse" id="showAccBar">
    <ul class="navbar-nav mr-auto center">
      <li class="nav-item">
        <a class="nav-link" href="#">Login</a>
      </li>
    <div class="dropdown-divider"></div>
      <li class="nav-item">
        <a class="nav-link" href="#">Sign Up</a>
      </li>
    <div class="dropdown-divider"></div>
    </ul>
  </div>
</nav>
    
<h1 class="underlineheading" id="homepage">Homepage</h1>
<div class="uicontent center">
<p>From here, you can have a look at the different stores available near you.</p>
<p>Select a store below to see more information about it.</p>

<h3>List of stores:</h3>
<ul id="storeList" class="cursor"></ul>
<br>
<div id="content">
    <h3 id="storeName"></h3>
    <div>
        <p id="storeInfo"></p>
    </div>
</div>
<div id="searchSection">
<h3>Song Search:</h3>
<p>Use the search bar below to find songs available from the stores.</p>
<input id="search">
<button id="goBtn">Search</button>
<ul id="searchResults"></ul>
</div>
<br>
    
<h3>Map of stores:</h3>
<p>You can use the map below to see the stores relative to your position.</p>
</div>
<div id="map"></div>
<div id="info" class="info">
<h4 id="storeMapName"></h4>
<p id="storeMapDesc"></p>
</div>
<script src="../js/ajaxRetrieveInfo.js"></script>
<script src="../js/musicStoreMap.js"></script>
<link rel="stylesheet" href="../leaflet-gesture-handling/leaflet-gesture-handling.min.css">
<script src="../leaflet-gesture-handling/leaflet-gesture-handling.min.js"></script>
</body>
</html>